<label for='original'>Original</label>
<br>
<textarea id='original' rows='5' cols='30'></textarea>
<br>
<label for='translation'>Translation</label>
<br>
<textarea id='translation' rows='5' cols='30'></textarea>
<br>
<input type='submit'>
