<label for='original'>Original</label>
<br>
<textarea id='original_box' name='original' rows='5' cols='30'></textarea>
<br>
<label for='translation'>Translation</label>
<br>
<textarea id='translation_box' name='translation' rows='5' cols='30'></textarea>
<br>
<input type='submit'>
