<html>
<body>
  <h1>Create Flashcard</h1>
  <form action='/deck' method='post'>
    <% include ../partials/flashcardForm %>
  </form>

  <form action='/'>
    <input type='submit' value='Cancel'></input>
  </form>

</body>
</html>
