<h1>Your Flashcard Deck</h1>

<% data.forEach( (entry) => { %>
  <strong><%= entry.original %></strong>
  <br>
  <%= entry.translation %>
  <br>
  <button>Edit</button>
  <button>Delete</button>
  <br><br>
<% }) %>

<br>

<form action='/create'>
  <input type='submit' value='Create Another'></input>
</form>
<form action='/'>
  <input type='submit' value='Home'></input>
</form>
