<html>
<head>
</head>

<body>
  <h1>Welcome to Cantuar</h1>

  <form action='/create'>
    <input type='submit' value='Create Flashcards'></button>
  </form>

  <form action='/practice'>
    <input type='submit' value='Practice Session'></button>
  </form>
</body>

</html>
